#experience {
    margin-top: 300px;
}

.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.experience-timeline {
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
}

.experience-timeline-date-right {
    text-align: right;
    margin-right: 15px;
}

.experience-timeline-date-left {
    text-align: left;
    margin-left: 15px;
}

.experience-timeline-middle {
    position: relative;
    background-color: var(--card-color);
    width: 3px;
    height: 100%;
}

.experience-timeline-content {
    position: relative;
    background: var(--card-color);
    border-radius: 5px;
    color: var(--text-color);
    padding: 20px;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem 1rem 20px;
    text-align: left;
}

.experience-timeline-icon {
    position: absolute;
    width: 50px;
    left: 20px;
    border-radius: 5px;
    border: 2px solid var(--text-color);
}

.experience-timeline-icon:hover {
    cursor: pointer;
    border-radius: 0;
}

.experience-timeline-company {
    font-size: 24px;
    margin-left: 73px;
}

.experience-timeline-role {
    margin-left: 73px;
}

.experience-timeline-task {
    margin-top: 23px;
    margin-left: 20px;
}

.experience-timeline-component {
    margin: 0 20px 20px 20px;
}

.experience-labels {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    width: 100%;
    margin-top: 23px;
    text-align: center;
    gap: 5px;
}

.experience-label {
    background-color: var(--orange-color);
    color: var(--text-label-color);
    border-radius: 5px;
    font-weight: bold;
    padding: 2px 5px;
}

.experience-label:last-child {
    margin-right: 0;
}

.experience-timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--text-color);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}


@media (min-width: 320px) and (max-width: 768px) {
    .experience-timeline {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .experience-timeline-middle {
        display: none;
    }
    .experience-timeline-content {
        width: 80%;
        margin: 0 0 0 0 !important;
    }

    .experience-timeline .experience-timeline-date-right:first-child {
        order: 1;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .experience-timeline .experience-timeline-component:nth-child(3) {
        order: 2;
    }

    .experience-timeline-date-left {
        order: 3;
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .experience-timeline .experience-timeline-content:nth-child(4) {
        order: 4;
    }

    .experience-timeline .experience-timeline-date-right:nth-child(7) {
        order: 5;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .experience-timeline .experience-timeline-date-right:nth-child(2) {
        order: 6;
    }

    .experience-timeline .experience-timeline-content:last-child {
        order: 7;
    }
}
